<link rel='stylesheet' href="/stylesheets/new-product.css" />
<h1>Create a new product</h1>
<form id="newProduct" method="POST" action="/products/create">
    <label for="newNameProduct">Name:</label><br>
    <input type="text" id="newNameP" name="newNameProduct" value=""><br><br>
    <label for="newCategoryId">Category_Name:</label><br>
    <select name="newCategoryId" id="newCatName">
        {{#each categories}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <br><br>
    <label for="newPriceProduct">Price:</label><br>
    <input type="text" id="newPriceP" name="newPriceProduct" value=""><br><br>
    <button class="createButton">CREATE</button>
</form>