<div class="homeContainer">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}} - {{subtitle}}</p>
</div>

<p>{{myMessage}}</p>

<a href="http://localhost:3000/auth/login"><button class="btn btn-primary">Login</button></a>