<h1>LOGIN</h1>
<form id="loginForm" method="POST" action="/auth/login">
    <label for="username">Username:</label><br>
    <input type="text" id="userN" name="username" value=""><br><br>
    <label for="password">Password:</label><br>
    <input type="text" id="pass" name="password" value=""><br><br>
    <button class="loginButton">Login</button>
</form>