<link rel='stylesheet' href='/stylesheets/products.css' />
<p class="product-item">Products!</p>

{{#each products}}
<div class="row">
    <a href="http://localhost:3000/products/{{id}}">
        {{name}}
    </a>
</div>
{{/each}}