body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.homeContainer {
  background-color: darkgray;
  padding: 0.01em 30px;
  text-align: left;
}