table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.id,
.categoryId {
    width: 3%;
}

.name {
    width: 25%;
}

.price {
    width: 5%;
}

.viewButton,
.deleteButton {
    text-align: center;
    width: 4%;
}